{
    "tabWidth": 4,
    "singleQuote": true,
    "arrowParens": "avoid",
    "overrides": [
        {
            "files": "*.{ts,tsx}",
            "options": {
                "arrowParens": "always"
            }
        }
    ]
}
