.header {
    border: 1px solid #e6e8eb;
}

.inner {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 96px;
    gap: 24px;
    padding: 16px 0;
}

.contacts {
    font-size: 16px;
    padding: 0 16px;
    text-align: center;
}

@media (min-width: 600px) {
    .inner {
        justify-content: space-between;
        flex-direction: row;
        padding: 0;
    }

    .contacts {
        text-align: left;
    }
}
