:root {
    --branding-green: #80b435;
    --branding-grey-one: #484b5c;
    --branding-grey-two: #1b2733;

    /** https://swiperjs.com/ **/
    --swiper-theme-color: #80b435;
    --swiper-navigation-color: #80b435;
    --swiper-navigation-size: 24px !important;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}
