@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /** https://swiperjs.com/ **/
    --swiper-theme-color: #80b435;
    --swiper-navigation-color: #80b435;
    --swiper-navigation-size: 24px !important;
}
