.app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main {
    flex: 1;
}

.title {
    text-align: center;
    padding: 32px 0;
    color: var(--branding-grey-one);
}

.failedToLoad {
    text-align: center;
    width: 100%;
}

.linkWrapper {
    text-align: center;
    padding: 32px 0;
}
